#main_area {
    display: block;
    font-size: 14px;
    width: min(500px, 100vw);
    height: 100vh;
    position: absolute;
    left: calc((100vw - min(500px, 100vw)) / 2);
    background-color: aliceblue;
}




/*homeに戻るボタン*/

#go_back_but {
    display: block;
    font-size: 50px;
    position: absolute;
    top: 5vh;
    left: 20px;
}


#go_back_but_atag {
    text-decoration: none;
    display: block;
    font-size: 50px;
    color: black;
}

#go_back_but_atag:hover {
    transform: scale(1.1);
    color: black;
}


/*クイズ表示するエリア*/

#quiz_area {
    display: block;
    width: 100%;
}


/*クイズの問題のスタイル*/
#quiz_content {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 20vh;
}


/*選択肢のボタンのスタイル*/

#quiz_options {
    display: block;
    width: 80%;
    position: absolute;
    top: 50vh;
    left: 10%;
}


.option_but {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: 5vh;
    margin-top: 1vh;
    font-size: 16px;
    background-color: #00000000;
}

.option_but:hover {
    transform: scale(1.05);
}



/*結果表示の部分のスタイル*/
#result_area {
    display: inline-block;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 20vh;
}

#result_score {
    display: flex;
    width: 100%;
    font-size: 20px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}


#score {
    font-size: 35px;
}

#max_score {
    font-size: 20px;
}

#detail_head {
    display: block;
    width: 100%;
    margin-top: 8vh;
    text-align: center;
}

#result_detail {
    display: block;
    width: 100%;
    font-size: 30px;
    margin-top: 8vh;
}

.result_line {
    display: flex;
    width: 100%;
    font-size: 15px;
    line-height: 30px;
}

.result_line .num {
    display: block;
    width: 10%;
    text-align: left;
}

.result_line .left {
    display: block;
    width: 45%;
    text-align: center;
}


.result_line .right {
    display: block;
    width: 45%;
    text-align: center;
}

/*要素非表示のためのスタイルv*/
.hide {
    /*なんかうまく適用されないから!importantで脳筋解決する*/
    opacity: 0 !important;
    display: none !important;
}